<article id="ejs" class="container">
    <h1>
        <a href="<%=link%>" target="_blank">Link</a>
    </h1>
    <p><%=description%></p>
</article>
<br>
<div id="logo-node"></div>
<br>
<button id="button" class="pushMe">Presióname</button>
