doctype html
html(lang=es)
    head
    include templates/header

body
    include templates/navBar
    h1 Oh no te has encontrado con un Error
    p= error
    p= desc
    a.button(href="/") Regresar
    h1= title